.col-lg-6.offset-lg-3.admin-div{
    border: 5px solid ;
    border-image: linear-gradient(45deg, red , blue) 1;
    margin-top:8rem;
    padding:2rem 6rem;
}
input.btn.btn-ticket{
   background: #5d5d9f;
   color: white;

} 
label.form-label.col-sm-3{
    padding-top:0.5rem;
}
.text-contact{
    font-weight: 700;
}
.col-lg-6.mb-4.dash_content{
    height:240;
}
button.btn.btn-primary.theatre_btn{
    float:right;
}
.sidebar-brand-text.mx-3.book_heading{
    background-image: linear-gradient(to right,#a31e49 10%,#342076 100%);
    padding: 1rem;
}
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.table_links{
    float: left;
}
label.form-label.required.control-label:after
{
    content: " *";
    color: red;
}
label.form-label.required.control-label.pt-3
{
    font-weight: 500;
    color: black;
}
.modal-header{
    background-image: linear-gradient(to right,#a31e49 10%,#342076 100%);
    color:white;
}
a.btn.btn-dboard{
    border-radius:initial;
    background: #050b35;
    color:white;
}
                 
.dt-buttons {
    background: #5A5C68;
    margin-bottom: 1rem;
}
button.dt-button.buttons-copy.buttons-html5,button.dt-button.buttons-excel.buttons-html5,button.dt-button.buttons-print,
button.dt-button.buttons-pdf.buttons-html5,button.dt-button.buttons-collection.buttons-colvis {
    color:white;
    
} 
button.dt-button.buttons-csv.buttons-html5 {
    color:white;
    
}
.wall-show{
    padding-top:8rem;
}
img.img-fluid.img-poster, img.img-fluid.img-wall{
    width: 150;
    height: 50;
}
.error-div{
padding-top:10rem;
padding-bottom: 5rem;
}

nav.navbar.navbar-expand-lg.user_nav{
    background:#050b35;
}
a.nav-link.active{
    background-image: linear-gradient(to right,#a31e49 10%,#342076 100%);
    color: white;
}
a.nav-link{
    color: white;
}
.navbar-inverse .navbar-nav>li>a{
    color:white;
}
a.active-nav,a.signup_btn, a.signin_btn {
    background-image: linear-gradient(to right,#a31e49 10%,#342076 100%);
}
a.signin_btn{
margin-left: 1rem;
}
.btn-showing {
    background-image: linear-gradient(to right,#a31e49 10%,#342076 100%);
    color: white;
    /*float:right;*/
}
.featured_btn{
    float: right;
}
.showing-title{
    padding:0 6rem;
    color: white;
}
i.fa-solid.fa-film.icon_theatre{
text-align: center;
    font-size: 3rem;
    color: white;
    float: left;
    
}

    .slide-text{
        color: white;
        
    }
    .subscribe-form{
        background-image:url("../user_template/images/movie-slide10.png");
        padding:3rem;
    }
    .sub_text{
        color: aquamarine;
        font-weight: 600;
    }
    .b-text{
        color: white;
    }
    .subscribe_div{
        background: #443574;
    }
    .subscribe_head{
        font-weight: 600;
    }
    a.nav-link:hover{
        color:skyblue;
    }
    

    .carousel-inner {
        padding: 1em;
      }
      .card {
        margin: 0 0.5em;
        box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
        border: none;
        background: #003b64;
        color: white;
      }
      .carousel-control-prev,
      .carousel-control-next {
        background-color: #e1e1e1;
        width: 6vh;
        height: 6vh;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
      }
      @media (min-width: 768px) {
        .carousel-item {
          margin-right: 0;
          flex: 0 0 33.333333%;
          display: block;
        }
        .carousel-inner {
          display: flex;
        }
      }
      .card .img-wrapper {
          max-width: 100%;
          height: 13em;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      .card img {
          max-height: 100%;
          height:200;
      }
      @media (max-width: 767px) {
        .card .img-wrapper {
          height: 17em;
        }
      }
      a.movie_link{
        text-decoration: none;
      }
      i.fa-solid.fa-hourglass, i.fa-solid.fa-masks-theater {
        color: rgba(240, 210, 13, 0.922);
      }

      img.img-fluid.mov_image{
        height: 200;
        width:200;
      }
      .mov_title{
        font-weight: 700;
      }
      span.mfor{
        background: beige;
        padding:0.5rem;
      }
      .desc_text{
       color: #c2d6ed;
      }